.zoidberg-cards-icon{
	background-image: url('https://raw.githubusercontent.com/Silverxak/Zoidberg/master/cards.png');
}

.steamdb-icon{
	background-image: url('http://i57.fastpic.ru/big/2015/1016/45/0906fc8a1425630804647ad80b1ff545.png');
	margin-left: 3px;
}

.link-to-card{
	z-index: 100;
}

.left_menu{
	position: fixed;
	display: none;
	width: 95px;
	height: 100%;
	z-index: 777;
	cursor: pointer;
}

.gomarket{
	background-color: #171a21;
	width: 95px;
	height: 50%;
	opacity: 0.3;
}

.goup{
	background-color: #171a21;
	width: 95px;
	height: 50%;
	opacity: 0.3;
}

.gomarket:hover{
	opacity: 0.7;
}

.goup:hover{
	opacity: 0.7;
}
